<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lzjtu.bookstore.model.PayWay">

	<resultMap type="PayWay" id="payWayMap">
        <id column="id" property="id"/>
        <result column="pay_style" property="payStyle"/>
    </resultMap>

    <select id="findAllPayWay" resultMap="payWayMap">
        <![CDATA[
            SELECT * FROM pay_way WHERE is_delete = '0'
        ]]>
    </select>
    
</mapper>
