<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jd1409_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>checkLogin</filter-name>
    <filter-class>com.briup.web.filter.CheckLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>checkLogin</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping> 
  
  
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.briup.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  

  <listener>
  	<listener-class>com.briup.web.listener.RequestListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.briup.web.listener.SessionListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.briup.web.listener.ApplicationListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>test1</servlet-name>
    <servlet-class>com.briup.web.servlet.ServletTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test1</servlet-name>
    <url-pattern>/ServletTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test2</servlet-name>
    <servlet-class>com.briup.web.servlet.ServletTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test2</servlet-name>
    <url-pattern>/ServletTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletTest3</servlet-name>
    <servlet-class>com.briup.web.servlet.ServletTest3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest3</servlet-name>
    <url-pattern>/ServletTest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LifeServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.LifeServletTest</servlet-class>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeServletTest</servlet-name>
    <url-pattern>/LifeServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeServletTest2</display-name>
    <servlet-name>LifeServletTest2</servlet-name>
    <servlet-class>com.briup.web.servlet.LifeServletTest2</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeServletTest2</servlet-name>
    <url-pattern>/LifeServletTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PMServletTest</display-name>
    <servlet-name>PMServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.PMServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PMServletTest</servlet-name>
    <url-pattern>/PMServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EncodingServletTest</display-name>
    <servlet-name>EncodingServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.EncodingServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncodingServletTest</servlet-name>
    <url-pattern>/EncodingServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardServletTest</display-name>
    <servlet-name>ForwardServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.ForwardServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServletTest</servlet-name>
    <url-pattern>/ForwardServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardMyServletA</display-name>
    <servlet-name>ForwardMyServletA</servlet-name>
    <servlet-class>com.briup.web.servlet.ForwardMyServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardMyServletA</servlet-name>
    <url-pattern>/ForwardMyServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardMyServletB</display-name>
    <servlet-name>ForwardMyServletB</servlet-name>
    <servlet-class>com.briup.web.servlet.ForwardMyServletB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardMyServletB</servlet-name>
    <url-pattern>/ForwardMyServletB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServletTest</display-name>
    <servlet-name>RedirectServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.RedirectServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServletTest</servlet-name>
    <url-pattern>/RedirectServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PathServletTest</display-name>
    <servlet-name>PathServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.PathServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PathServletTest</servlet-name>
    <url-pattern>/path/PathServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServletTest</display-name>
    <servlet-name>RequestServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.RequestServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServletTest</servlet-name>
    <url-pattern>/RequestServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServletTest</display-name>
    <servlet-name>SessionServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.SessionServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServletTest</servlet-name>
    <url-pattern>/SessionServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationServletTest</display-name>
    <servlet-name>ApplicationServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.ApplicationServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationServletTest</servlet-name>
    <url-pattern>/ApplicationServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServletTest</display-name>
    <servlet-name>CookieServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.CookieServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServletTest</servlet-name>
    <url-pattern>/CookieServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCookieServletTest</display-name>
    <servlet-name>ShowCookieServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.ShowCookieServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCookieServletTest</servlet-name>
    <url-pattern>/ShowCookieServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletTest</display-name>
    <servlet-name>LoginServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.LoginServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletTest</servlet-name>
    <url-pattern>/LoginServletTest</url-pattern>
  </servlet-mapping>
</web-app>