<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lzjtu.bookstore.model.Notice">

	<resultMap type="Notice" id="noticeMap">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
	
	<select id="findNotice" resultMap="noticeMap">
        <![CDATA[
            SELECT * FROM notice WHERE is_delete = '0'
        ]]>
    </select>

    <select id="getNoticeById" resultMap="noticeMap">
        <![CDATA[
            SELECT * FROM notice WHERE is_delete = '0' AND id = #{id}
        ]]>
    </select>
    
    <select id="list" resultMap="noticeMap" parameterType="map">
        <![CDATA[
            SELECT * FROM notice WHERE is_delete = '0' ORDER BY create_time DESC LIMIT #{offset}, #{pageSize}
        ]]>
    </select>
    
    <select id="getCount" resultType="int">
        <![CDATA[
            SELECT COUNT(*) AS noticeCount FROM notice WHERE is_delete = '0'
        ]]>
    </select>
    
    <insert id="create" parameterType="Notice" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO notice(title, content, create_time)  
                  VALUES(#{title}, #{content}, NOW())
        ]]>
    </insert>
    
    <update id="update" parameterType="Notice">
        <![CDATA[
            UPDATE notice
            SET
                title = #{title},
                content = #{content}
            WHERE
                id = #{id}
        ]]>
    </update>
    
    <update id="delete" parameterType="int">
        <![CDATA[
            UPDATE notice SET is_delete = '1' WHERE id = #{id}
        ]]>
    </update>
    
</mapper>