<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jd1409_jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.briup.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletTest</display-name>
    <servlet-name>LoginServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.LoginServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletTest</servlet-name>
    <url-pattern>/LoginServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PathServletTest</display-name>
    <servlet-name>PathServletTest</servlet-name>
    <servlet-class>com.briup.web.servlet.PathServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PathServletTest</servlet-name>
    <url-pattern>/servlet/PathServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegisterServlet</display-name>
    <servlet-name>StudentRegisterServlet</servlet-name>
    <servlet-class>com.briup.web.servlet.StudentRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegisterServlet</servlet-name>
    <url-pattern>/StudentRegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>